Package: {{ cookiecutter.app_name }}
Version: {{ cookiecutter.version }}
Architecture: {{ cookiecutter.arch }}
Maintainer: {{ cookiecutter.author }} <{{ cookiecutter.author_email }}>
Homepage: {{ cookiecutter.url }}
Description: {{ cookiecutter.description|first_line }}
 {{ cookiecutter.long_description|multiline_description }}
Depends: {{ cookiecutter.system_runtime_requires }}
Section: {{ cookiecutter.system_section }}
Priority: optional
